:root {
    --main-color: #0000ff
}

@font-face {
    font-family: pcd_regular;
    src: url(fonts/PCD22-Regular.ttf);
}

@font-face {
    font-family: n_haas_roman;
    src: url(fonts/NHaasGroteskTXPro-55Rg.ttf);
}
@font-face {
    font-family: n_haas_medium;
    src: url(fonts/NHaasGroteskTXPro-65Md.ttf);
}
@font-face {
    font-family: n_haas_bold;
    src: url(fonts/NHaasGroteskTXPro-75Bd.ttf);
}



div{
    font-family: n_haas_roman;
    color: black;/*var(--main-color);*/
}

div a, div a:hover{
    font-family: n_haas_roman;
    color: var(--main-color);
}

#navbar, #navbar .navbar-brand, #navbar div a{
    background: var(--main-color);
    font-size: 2.5rem;
    padding: 0.1em 0.4em 0.1em 0.4em;
    font-family: pcd_regular;
}

.nav-link{
    font-size: 1.5rem;
}


#footer .about_call_menu{
    width: 50%;
    text-align: center;
    color:#ffffff;
    outline: 0px solid white;
    object-fit: fill;
    padding: 1rem;
    font-size: 1.7em;
    font-family: pcd_regular;
}

.about_call_menu:first-child{
    border-right: 3px solid white;
}

.about_call_menu:last-child{
    border-left: 3px solid white;
}

#footer{
    background: var(--main-color);
    padding: 0;
}

.offcanvas.about_call_div{
    width: 50%;
    background: white;/*#F2F2F2;*/
    border-width: 0px 3px 0px 3px;
    border-color: var(--main-color);
}

.title_div{/*about and call title*/
    font-size: 2.8em;
    font-family: pcd_regular;
}

.sub_title_div {
    text-transform: uppercase;
    font-weight: 900;
    font-family: pcd_regular;
    letter-spacing: 1.7px;
    font-size: 1.8rem;
    margin-bottom: 0.5em;
}

.sub_topic {
    margin-top: 2.5em;

}

.sub_sub_title_div {
    margin-top: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-family: n_haas_medium;
    letter-spacing: 1.7px;
    font-size: 1.1rem;
    color: var(--main-color);
}


.offcanvas .offcanvas-body, .offcanvas .offcanvas-header {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.4em;
}

.offcanvas .offcanvas-header{
    margin-top: 1.8rem;
    padding-bottom: 0;

}

.offcanvas .offcanvas-body {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

.btn-close, .btn-close:hover{
    opacity: 1;
    color: var(--main-color) !important;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p.no-m {
    margin-bottom: 0;
}

.text_bold{
    font-family: n_haas_medium;
}
.text_enf{
    /*color: var(--main-color);*/
    font-style: italic;
}
.text_enf_color{
    color: var(--main-color);
    font-family: n_haas_medium;
}

li{
    list-style-type: none;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar, #navbar .navbar-brand, #navbar div a{
        background: rgb(0,0,255);
        font-size: 1.5rem;
    }

    .navbar-brand span {
        display: none;
    }
    .navbar-brand:after {
        content: 'PCD2022';
    }

    #footer .about_call_menu {
        font-size: 1.0rem;
    }

    .offcanvas.about_call_div {
        width: 100%;
    }
}

